/View/generatorView_v1.ui
/test.py
/pyinstallerUI.py
/View/generatorView_v2.py
/View/generatorView_v1.py
/flow.py
/View/resultPopupView_v1.ui
/View/resultPopupView_v1.py
/View/generatorView_v2.ui
/Service/barcodeGenSvc.py
/Resource/generator-icon.png
/Temp/
/inbox/
/outbox/
/appOut/BarcodeGenerator_v2/
